<nav class="navbar navbar-expand-lg navbar-light bg-transparent position-absolute w-100 z-3">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="/images/logo.png" alt="Smart Farmer Logo" width="50" height="50" class="me-2" />
            <div>
                <span class="fw-bold text-success">SMART FARMER</span><br />
                <small class="text-muted">Grow with Insight, Not Just Water</small>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav align-items-center">
                <li class="nav-item px-2">
                    <a class="nav-link active text-white" href="/">Home</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link text-white" href="#Learn">Learn</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link text-white" href="#Diary">Farming Diary</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link text-white" href="#gallery">Gallery</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link text-white" href="#contacts">Contacts</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link text-white" href="#"><i class="fas fa-search"></i></a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link text-white" href="#"><i class="fas fa-shopping-cart"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>