body {
  font-family: 'Segoe UI', sans-serif;
}

.hero {
  background-image: url('/images/farm-banner.jpg');
  background-size: cover;
  background-position: center;
  height: 90vh;
  color: white;
  position: relative;
}

.hero .overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature-icon {
  font-size: 2rem;
  margin-bottom: 10px;
}

.coming-soon {
  background-color: #f8f9fa;
  padding: 60px 0;
}
.form-title {
  font-size: 2rem;
  align-items: center;
  text-align: center;

}

footer {
  background-color: #1e1e1e;
  color: white;
}
#get-weather.row.g-3 {
    width: 100%;
    padding: 60px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);

    }
    .text-muted {
    color: #fefefe !important;
    }
#notesList{
  margin: 15px 0;
}